.main {
    max-width: 952px;
    margin: 0 auto;
}

.options {
    display: flex;
    align-items: center;
    gap: 12px;
}

.button {
    width: 175px;
    flex-shrink: 0;
}

.buttonLow {
    width: 362px;
    flex-grow: 1;
}

.input {
    flex-shrink: 0;
    width: 204px;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    display: flex;
    padding-left: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}